<template>

    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                    <lightning-icon icon-name="standard:contact" alternative-text="contact" title="contact" size="small"></lightning-icon>
            </div>
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title">
                        <a href="#" class="slds-card__header-link slds-truncate" title="Contacts (3)">
                            <span>Contacts ({records})</span>
                        </a>
                    </h2>
                </div>
                <div class="slds-no-flex">
                    <button class="slds-button slds-button_neutral" onclick={handleNavigateToNew}>New</button>
                </div>
            </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
            <ul class="slds-grid slds-wrap slds-grid_pull-padded">


                <template for:each={data1} for:item="con">
                    <li class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-3" key={con.Id}>
                        <article class="slds-tile slds-media slds-card__tile slds-hint-parent">
                            <div class="slds-media__figure">
                                <lightning-icon icon-name="standard:contact" alternative-text="contact" title="contact"></lightning-icon>
                            </div>
                            <div class="slds-media__body">
                                <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                                    <h3 class="slds-tile__title slds-truncate" title="Related Record Title 1">
                                        <a href="/">{con.Name}</a>
                                    </h3>
                                    <div class="slds-shrink-none" >
                                        <lightning-button-menu icon-size="x-small" >
                                            <lightning-menu-item value="MenuItemOne" label="Edit" data-id={con.Id} onclick={handleNavigate} ></lightning-menu-item>
                                            <lightning-menu-item value="MenuIte mTwo" label="Delete" data-id={con.Id} onclick={deleteContact}></lightning-menu-item>
                                            <lightning-menu-item value="MenuItemThree" label="Add to Campaign"></lightning-menu-item>
                                        </lightning-button-menu>
                                    </div>
                                </div>
                                <div class="slds-tile__detail">
                                    <dl class="slds-list_horizontal slds-wrap">
                                        <dt class="slds-item_label slds-text-color_weak slds-truncate"
                                            title="First Label">Title:</dt>
                                        <dd class="slds-item_detail slds-truncate" title="Description for first label">
                                            {con.Title}</dd>
                                        <dt class="slds-item_label slds-text-color_weak slds-truncate"
                                            title="Second Label">Email:</dt>
                                        <dd class="slds-item_detail slds-truncate" title="Description for second label">
                                            {con.Email}</dd>
                                        <dt class="slds-item_label slds-text-color_weak slds-truncate"
                                            title="First Label">Phone:</dt>
                                        <dd class="slds-item_detail slds-truncate" title="Description for first label">
                                            {con.Phone}</dd>
                                    </dl>
                                </div>
                            </div>
                        </article>
                    </li>
                </template>

            </ul>
        </div>
        <footer class="slds-card__footer">
            <a class="slds-card__footer-action" href={sfdcBaseURL}>View All
                <span class="slds-assistive-text">Contacts</span>
            </a>
        </footer>
    </article>
</template>