<template>
    
    <div class="slds-m-around_large">      
        <lightning-input label="Type here" value={greeting} onchange={handleClick}></lightning-input>
        <h2>Hello {greeting}</h2>
    </div>

    <div class="slds-m-around_large">
        <p>This account is now </p>
        <template for:each={result} for:item="account">
            <lightning-card key={account.Id} coloumn=1> This account is now {account.Id}</lightning-card>
        </template>   
    </div>

    <div >
        <c-child-component messege="calling from parrent"></c-child-component>
    </div>
    

</template>