<template>
    <lightning-card>
                <lightning-input type="search" id="combobox-id-16" value={accountName}
                    onchange={searchHandleKeyChange} onkeydown={searchHandleClick} onclick={searchHandleClick}
                    onblur={searchHandleClick} label='Contact'
                    placeholder="Search..."></lightning-input>   
            <div if:true={messageResult}>
                No Result Found!
            </div>
            <template if:true={showSearchedValues}>
                <div class="slds-box" style="height: 100px; overflow-y: scroll;">
                    <ul class="" role="">
                        <template for:each={contactList} for:item="actObj">
                            <li class="slds-p-around_x-small" style="cursor: pointer;" key={actObj.Id}
                                onclick={parentHandleAction} data-value={actObj.Email}
                                data-label={actObj.Name}>
                                {actObj.Name}
                            </li>
                        </template>
                    </ul>
                </div>
            </template>
        </lightning-card>  
</template>