<template>
    <div class="slds-wrap slds-grid">
        <p class="slds-col slds-size_12-of-12 slds-p-horizontal--small slds-m-bottom--medium">
            Email: {sObjEmail}
          </p>
        <!-- <div class="slds-col slds-size_12-of-12 slds-p-horizontal--small slds-m-bottom--medium"><p><lightning-input label="Email" type="email" value={sObjEmail} name="sEmail" ></lightning-input></p></div> -->
        <div class="slds-col slds-size_12-of-12 slds-p-horizontal--small slds-m-bottom--medium"><p><lightning-input label="Subject" type="text" value={scObjName} name="sName" onchange={emailHandleChange}></lightning-input></p></div> 
        <div class="slds-col slds-size_12-of-12 slds-p-horizontal--small slds-m-bottom--medium"><p><lightning-input label="Email Body" type="text" value={sObjBody} name="sBody" onchange={emailHandleChange}></lightning-input></p></div>         
         <br/>  <br/>
        <div class="slds-text-align--center slds-m-top--medium" style="text-align:center; width:40px; margin:auto;">
            <lightning-button type="brand" label="Submit" variant="brand" onclick={submitAction}></lightning-button>
        </div>
   </div>
<br/>
 <div>
     
     <!-- <c-contact-lookup  onselected={myLookupHandle}></c-contact-lookup> -->
    
</div>
</template>