<template>
    <lightning-card title="Remote Control" icon-name="action:change_record_type">
        <lightning-button label="Add" onclick={handleIncrement}></lightning-button>
        <lightning-button label="Sub" onclick={handleDecrement}></lightning-button>
        <lightning-button label="Multi" onclick={handleMultiply}></lightning-button>
      </lightning-card>
</template>