<template>
    <lightning-card>
        <template if:true={contact}>
            <lightning-datatable
                key-field="Id"
                data={contact}
                columns={columns}
            >
           </lightning-datatable>
        </template>
        <template if:true={errors}>
            <p>{errors}</p>
        </template>
    </lightning-card>
</template>